<script >
    $(function(){
        $("#nowtime").css({color:'red'});
        $("#host").html(location.host);
        //alert(location.host);
        window.setInterval('ShowTime()',1000);
    });
    function ShowTime(){
        var t = new Date();
        var str = t.getFullYear() + '年';
        str += t.getMonth() + '月';
        str += t.getDate() + '日 ';
        str += t.getHours() + ':';
        str += t.getMinutes() + ':';
        str += t.getSeconds() + '';
        $("#nowtime").html(str);
    }
</script>