<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i>
            <a href="?p=back">首页</a>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">分类管理</span>
            <span class="crumb-step">&gt;</span>
            <span class="crumb-name">添加分类</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="" method="post" id="myform">
                <table class="insert-tab" width="100%">
                    <tbody>
                    <tr>
                        <th><i class="require-red">*</i>Class</th>
                        <td>
                            <select name="classid">
                                <option value="0">请选择</option>
                                {{ range .class }}
                                    <option
                                            {{ if $.overallinfo.Class.Id }}{{ if eq $.overallinfo.Class.Id  .Id }} selected {{ end }}{{ end }}
                                            value="{{ .Id }}">
                                        {{ .ClassName }}
                                    </option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>classroom：</th>
                        <td>
                            <select name="classroomid">
                                <option value="0">请选择</option>
                                {{ range .classroom }}
                                    <option
                                            {{ if $.overallinfo.Classroom.Id }}{{ if eq $.overallinfo.Classroom.Id  .Id }} selected {{ end }}{{ end }}
                                            value="{{ .Id }}">
                                        {{ .ClassroomName }}
                                    </option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require-red">*</i>teacher：</th>
                        <td>
                            <select name="teacherid">
                                <option value="0">请选择</option>
                                {{ range .teacher}}
                                    <option
                                            {{ if $.overallinfo.Teacher.Id }}{{ if eq $.overallinfo.Teacher.Id  .Id }} selected {{ end }}{{ end }}
                                            value="{{ .Id }}">
                                        {{ .TeacherName }}
                                    </option>
                                {{ end }}
                            </select>
                        </td>
                    </tr>

                    <th></th>
                    <td>
                        <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                        <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                    </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>

</div>