
<!doctype html>
<html>
{{ template "header" }}
<body>
{{ template "top" . }}
<div class="container clearfix">
 {{ template "menu" }}
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
                <a href="/Index/">首页</a>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">教师管理</span>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">修改教师</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" >
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>教师名称：</th>
                                <td>
                                    <input class="common-text required" id="title" name="teacherName" size="50" value="{{ .teacher.teacherName }}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>性别：</th>
                                <td>
                                    <!-- <input class="common-text required" id="title" name="gender" size="50" value="{{ .teacher.gender }}" type="text"> -->
                                    
                                    <select name="gender" id="" class="common-text required">
                                        {{ if  eq "" .teacher.gender}}
                                        <option>select</option>
                                        <option>male</option>
                                        <option>female</option>
                                        <option>secret</option>
                                        {{ else }}
                                        <option {{ if eq "select" .teacher.gender}} selected {{ end }}>select</option>
                                        <option {{ if eq "male" .teacher.gender}} selected {{ end }}>male</option>
                                        <option {{ if eq "female" .teacher.gender}} selected {{ end }}>female</option>
                                        <option {{ if eq "secret" .teacher.gender}} selected {{ end }}>secret</option>
                                        {{ end }}
                                    </select>
                                </td> 
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>

        </div>

    </div>
    <!--/右侧主操作区-->
</div>

</body>
</html>