
<!doctype html>
<html>
{{ template "header" }}
<body>
{{ template "top" . }}
<div class="container clearfix">
 {{ template "menu" }}
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
                <a href="/Index/">首页</a>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">教室管理</span>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">修改教室</span>
            </div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" >
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th>课程：</th>
                                {{ $classid := .overall.classid }}
                                <td>
                                    <select class="common-text required"  name="classid"  style="width:200px;">
                                        
                                        {{ range .class }}
                                        <option value="{{ .id }}" {{ if eq .id $classid }} selected {{ end }} >{{ .className }}</option>
                                        {{ end }}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>教室：</th>
                                {{ $classroomid := .overall.classroomid }}
                                <td>
                                    <select class="common-text required"  name="classroomid"  style="width:200px;">
                                     
                                        {{ range .classroom }}
                                        <option value="{{ .id }}" {{ if eq .id $classroomid }} selected {{ end }} >{{ .classroomName }}</option>
                                        {{ end }}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>老师：</th>
                                {{ $teacherid := .overall.teacherid }}
                                <td>
                                    <select class="common-text required"  name="teacherid"  style="width:200px;">
                                        
                                        {{ range .teacher }}
                                        <option value="{{ .id }}" {{ if eq .id $teacherid }} selected {{ end }} >{{ .teacherName }}</option>
                                        {{ end }}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>

        </div>

    </div>
    <!--/右侧主操作区-->
</div>

</body>
</html>